{
  "presets": [
    [
      "env",{ 
      "modules": false,
      "browsers": ["ie >= 8"]
      }
    ], "stage-1"
  ],
  "env": {
    "test": {
      "presets": [["env"]]
    }
  },
  "plugins":["transform-runtime", "syntax-dynamic-import"]
}
