1token-web.iml

.DS_Store
node_modules/
dist/
npm-debug.log
yarn-error.log
coverage/

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

src/assets/style/components/*.css
src/assets/style/normalize/*.css
src/assets/style/views/*.css
src/assets/style/wap/*.css
